---
- name: hyprland | ensure hyprland installed
  kewlfft.aur.aur:
    name: hyprland
    state: present
    use: paru
  become_user: aur_builder

- name: hyprland | ensure .config/hypr directory exists
  ansible.builtin.file:
    path: "~/.config/hypr"
    state: directory
    mode: '0755'

- name: hyprland | ensure .config/hypr subdirectories exist
  ansible.builtin.file:
    path: "~/.config/hypr/{{ item.path | dirname }}"
    state: directory
    mode: '0755'
  with_filetree: hyprland/config
  when: item.state == 'file'

- name: hyprland | symlink config files
  ansible.builtin.file:
    src: "{{ role_path }}/files/hyprland/config/{{ item.path }}"
    dest: "~/.config/hypr/{{ item.path }}"
    state: link
    force: true
  with_filetree: hyprland/config
  when: item.state == 'file'
  notify: reload hyprland

- name: hyprland | generate templates
  ansible.builtin.template:
    src: "{{ item.path }}"
    dest: "~/.config/hypr/{{ item.path }}"
    mode: '0644'
  with_filetree: hyprland/templates
  when: item.state == 'file'
  notify: reload hyprland

- name: hyprland | ensure .local/bin subdirectories exist
  ansible.builtin.file:
    path: "~/.local/bin/{{ item.path | dirname }}"
    state: directory
    mode: '0755'
  with_filetree: hyprland/bin
  when: item.state == 'file'

- name: hyprland | symlink bin files
  ansible.builtin.file:
    src: "{{ role_path }}/files/hyprland/bin/{{ item.path }}"
    dest: "~/.local/bin/{{ item.path }}"
    state: link
    force: true
  with_filetree: hyprland/bin
  when: item.state == 'file'
  notify: reload hyprland