---
- name: paru | clone repository
  become_user: aur_builder
  git:
    repo: 'https://aur.archlinux.org/paru.git'
    dest: '/tmp/paru'
    clone: yes

- name: paru | build and install package
  become_user: aur_builder
  command:
    cmd: makepkg -si --noconfirm
    chdir: /tmp/paru