### Monitors ###
{% for monitor in monitors.screens %}
monitor = {{ monitor.name }}, {{ monitor.resolution }}@{{ monitor.refresh_rate }}, {{ monitor.position }}, {{ monitor.scale }}
{% endfor %}

### Windows ###
windowrulev2 = suppressevent maximize, class:.*  # Suppress maximize events for all windows
windowrulev2 = nofocus,class:^$,title:^$,xwayland:1,floating:1,fullscreen:0,pinned:0 # Do not focus empty windows

### Persistent Workspaces ###
{% set ns = namespace(count=0) %}
{% for monitor in monitors.workspaces %}
    {% for i in range(1, monitors.workspaces[monitor] + 1) %}
        {% set ns.count = ns.count + 1 %}
        workspace = {{ ns.count }}, monitor:{{ monitor }}
    {% endfor %}
{% endfor %}

decoration {
    rounding = 7

    shadow {
        enabled = false
        range = 0
    }

}

dwindle {
    pseudotile = false
    force_split = 0
    preserve_split = true
    smart_split = false
}

### Tiling ###
general {
    gaps_in = 4
    gaps_out = 7
    layout = dwindle

    border_size = 0
    #col.inactive_border = rgba(1e1e2eff)
    #col.active_border = rgba(1e1e2eff)

    allow_tearing = false
    hover_icon_on_border = true
    resize_on_border = true
    extend_border_grab_area = 10
}